@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    text-align: left;
    color: hsl(30, 10%, 34%);
    line-height: 1.6;
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    margin-top: 1em;
    margin-bottom: 0.7em;
    color: hsl(14, 45%, 36%);
}

h1 {
    color: hsl(24, 5%, 18%);
    line-height: 1;
}

.container {
    background-color: white;
    width: 100%;
    padding-left: 1.6em;
    padding-right: 1.6em;
    padding-bottom: 3em;
}

.container > img {
    width: calc(100% + 3.2em);
    margin-left: -1.6em;
    margin-right: -1.6em;
    height: auto;
    display: block;
}

.recipe-time {
    margin-top: 2em;
    background-color: hsl(330, 100%, 98%);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2em;
}

.recipe-time p {
    color: hsl(332, 51%, 32%);
    font-weight: 700;
    font-size: 1.2rem;
    padding-left: 1.2em;
    margin-bottom: 0.5em;
}

ol li::marker {
    color:hsl(14, 45%, 36%);
    font-weight: 700;
}

ul {
    list-style: none;
}

ol li {
    padding-left: 20px;
    margin-bottom: 0.5em;
}

ul li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 0.5em;
}

ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color:hsl(14, 45%, 36%);
    font-size: 1.5rem;
}

.recipe-time ul li::before {
    color:hsl(332, 51%, 32%);
}

.recipe-ingredients ul {
    padding-left: 0.5em;
}

.recipe-time ul {
    padding-left: 1.7em;
}

.recipe-instructions ol {
    padding-left: 1.5em;
}

table {
    margin-top: 2em;
    width: 100%;
    border-collapse: collapse;
}

table td {
    border-bottom: 0.1px solid hsl(30 10% 34% / 0.3);
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

table td:first-child {
    width: 50%;
    padding-left: 2em;
}

table td:last-child {
    color:hsl(14, 45%, 36%);
    font-weight: 700;
}

table tr:last-child td {
    border-bottom: none;
}

.recipe-nutrition h2 {
    border-top: 0.1px solid hsl(30 10% 34% / 0.3);
    padding-top: 1em;
    margin-top: 1.2em;
}

.recipe-instructions h2 {
    border-top: 0.1px solid hsl(30 10% 34% / 0.3);
    padding-top: 1em;
    margin-top: 1.2em;
}

@media (min-width: 1024px) {
    body {
        background-color: hsl(30, 54%, 90%);
    }

    .container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10em;
        margin-bottom: 10em;
        justify-content: center;
        border-radius: 25px;
        padding: 4em;
    }

    .container > img {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        border-radius: 25px;
    }
}